@media only screen and (max-width: 1240px) {

	.row {
		padding: 0 2%;
	}

	/*-- Header --*/

	.header-row-1 .col-1 {
	    width: 36%;
	}

	.header-row-1 .col-2 {
	    width: 39%;
	}

	.header-row-1 .col-3 {
	    width: 25%;
	}

	.main-nav li {
	    padding: 0 5px;
	}

	.header-row-3 .col-1 {
	    width: 52%;
	}

	.header-row-3 .col-2 {
	    width: 48%;
	}

	/*-- .Header --*/

}


@media only screen and (max-width: 1024px) {

	p {
	    font-size: 13px;
	}

	/*-- Header --*/

	.main-nav li {
	    padding: 0 2px;
	}

	.main-nav li a {
	    font-size: 11px;
	}

	.header-row-3 {
	    padding: 12px 0 12px 0;
	}

	.header-row-3 .col-1 {
	    width: 55%;
	}

	.header-row-3 .col-2 {
	    width: 45%;
	}

	/*-- /Header --*/

	/*-- Section 1 Main Page --*/

	.two-cols-templ .col-1 {
	    width: 31%;
	}

	.two-cols-templ .col-2 {
	    width: 69%;
	}

	.catalog-thmbnails .good-cart {
	    width: 50%;
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 2 Product Page --*/

	.two-cols-block .col-1 {
	    width: 100%;
	    padding: 10px 0;
	}

	.two-cols-block .col-2 {
	    width: 100%;
	    padding: 10px 0;
	}

	.catalog-thmbnails.more-goods-thumbnails .good-cart {
	    max-width: 270px;
	}

	/*-- /Section 2 Product Page --*/

	/*-- Footer --*/

	.footer {
	    padding: 43px 0 46px 0;
	}

	.footer .col-1 {
	    width: 36%;
	    padding: 21px 1% 21px 0;
	}

	.footer .col-2 {
	    width: 64%;
	    padding: 0 0 0 1%;
	}

	.footer .col-3 {
		display: none;
	}

	.footer .col-2 .inner-col {
	    width: 100%;
	    padding: 18px 0;
	}

	.footer .col-2 .inner-col p {
		display: inline-block;
		vertical-align: top;
	    width: 50%;
	}

	.footer .col-2 .inner-col.seo-list-block {
	    width: 50%;
	}

	.payments-systems {
	    margin: 35px 0 0 0;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 900px) {

	/*-- Section 1 Product Page --*/

	.two-cols-cart-block .col-1 {
		display: block;
		width: 100%;
	    max-width: 880px;
	    margin: 20px auto;
	}

	.two-cols-cart-block .col-2 {
		width: 100%;
	    margin: 20px auto;
	}

	/*-- /Section 1 Product Page --*/

}


@media only screen and (max-width: 768px) {

	.sign-in-popup {
		width: 100%;
		max-width: 100%;
		height: 100vh;
		position: fixed;
		top: 0 !important;
		left: 0 !important;
		z-index: 6;
    	padding: 21px 2% 46px 2%;
	}

	.close-popup {
		display: block;	
	}

	/*-- Header --*/

	.header-site {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 5;
		background: rgb(255, 255, 255);
		-webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3);
	}

	.header-row-1 {
	    padding: 8px 0 4px 0;
	    border-bottom: 1px solid #dddddd;
	}

	.header-row-2 {
		width: 0;
		height: 0;
	}

	.respmenubtn-col {
	    display: block;
	}

	.append-elem-2 {
	    padding: 20px 7% 18px 0;
	}

	.append-elem-3 {
		padding: 14px 0 11px 0;
	}

	.append-elem-6 {
	    display: block;
	}

	.header-row-1 .col-1 {
	    width: 48%;
	    text-align: center;
	}

	.header-row-1 .col-2 {
	    width: 0;
	}

	.header-row-1 .col-3 {
	   	display: none;
	}

	.header-row-2 .col-1 {
	    width: 50%;
	    padding: 7px 0;
	}

	.header-row-2 .col-3 {
	    width: 50%;
	    padding: 2px 0;
	}

	.header-row-3 {
	    padding: 0;
	}

	.header-row-3 .col-1 {
	    width: 100%;
	    padding: 7px 0;
	}

	.header-row-3 .col-2 {
	    display: none;
	}

	.link-logo img {
	    max-height: 45px;
	}

	.main-nav-block {
		/*display: block;*/
		display: none;
		width: 100%;
		height: 100vh;
		padding: 72px 1% 50px 9%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
		background: rgba(255, 255 , 255, .97);
	}

	.main-nav li {
		display: block;
	    padding: 5px 3px;
	}

	.main-nav li a {
		display: inline-block;
	    font-size: 13px;
	    line-height: 13px;
	    margin: 4px 0;
	    padding: 0;
	}

	.main-nav li a:after {
	    display: none;
	}

	/*-- /Header --*/

	/*-- Section 1 Product Page --*/

	.two-cols-cart-block .col-1 {
	    margin: 0 auto 20px auto;
	}

	/*-- /Section 1 Product Page --*/

	/*-- Section 2 Product Page --*/

	.last-goods-slider-block {
	    margin: 24px 0 59px 0;
	}

	/*-- /Section 2 Product Page --*/

	/*-- Section 1 Payment Page --*/

	.steps-thumbnails {
	    margin: 16px 0;
	}

	.steps-thumbnails .thumbnail {
	    display: table;
	    width: 100%;
	    text-align: left;
	    padding: 0;
	    margin: 16px 0;
	}

	.steps-thumbnails .thumbnail:after {
		display: none;
	}

	.num-circle-block {
	    display: table-cell;
	    vertical-align: top;
	    width: 73px;
	}

	.steps-thumbnails .thumbnail p {
		display: table-cell;
	    vertical-align: top;
	    width: auto;
	    padding-top: 3px;
	}

	/*-- /Section 1 Payment Page --*/

	/*-- Section 2 Payment Page --*/

	.payment-thumbnail {
	    width: 100%;
	}

	/*-- /Section 2 Payment Page --*/

}

@media only screen and (max-width: 600px) {

	.link-logo {
	    height: 41px;
	}

	/*-- Section 1 Main Page --*/

	.two-cols-templ .col-1 {
	    width: 100%;
	    padding: 0;
	}

	.two-cols-templ .col-2 {
	    width: 100%;
	}

	.filters {
		/*display: block;*/
		display: none;
		width: 100%;
		height: 100vh !important;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 6;
		margin: 0;
		padding: 27px 1% 40px 7%;
		background: rgb(255, 255, 255);
	}

	.filters-menu {
		padding-right: 6%;
	}

	.show-filters {
	    display: block;
	}

	.close-menu {
	    display: block;
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 1 Product Page --*/

	.two-cols-cart-block {
	    margin: 9px 0 15px 0;
	}

	.miniature-slider-block {
	    width: 100%;
	    float: none;
	}

	.miniature-slider {
	    width: 100%;
	    max-width: 100%;
	}

	.big-slider-block {
		display: block;
	    width: 100%;
	    float: none;
	    max-width: 480px;
	    margin: 0 auto;
	    padding: 10px 0;
	}

	.big-slider .slide {
	    height: 354px;
	}

	.cart-descript-header .col-1 h3 {
	    font-size: 18px;
	    line-height: 28px;
	}

	/*-- /Section 1 Product Page --*/

	/*-- Section 2 Product Page --*/

	.catalog-thmbnails.more-goods-thumbnails .good-cart {
		width: 50%;
	    max-width: 50%;
	}

	/*-- /Section 2 Product Page --*/

}


@media only screen and (max-width: 480px) {

	h2 {
	    font-size: 16px;
	}

	.row {
		padding: 0 4%;
	}

	.breadcrumbs-block {
	    display: none;
	}

	/*-- Header --*/

	.respmenubtn-col {
	    padding: 9px 0 0 0;
	}

	.header-site .link-logo {
		display: none;
	}

	.logo-resp {
	    display: inline-block;
	}

	.append-elem-6 {
	    padding: 5px 0;
	}

	.basket-col.price-val-block {
		display: none;
	}

	.header-row-3 .col-1 {
	    text-align: center;
	}

	.main-nav-block {
	    padding: 55px 1% 20px 9%;
	}

	.catalog-item {
	    margin: 0 10px 0 0;
	}

	.catalog-item a.catalog-item-title h4 {
		padding: 0 0 0 5px;
	}

	.contacts-block {
	    width: 100%;
	    padding: 5px 0;
	}

	/*-- /Header --*/

	/*-- Section 1 Main Page --*/

	.catalog-thmbnails .good-cart {
	    width: 80%;
	    display: block;
	    margin: 0 auto;
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 1 Product Page --*/

	.two-cols-cart-block .cart-descript-header .col-1 {
		width: 100%;
		margin: 7px 0;
	}

	.two-cols-cart-block .cart-descript-header .col-2 {
		text-align: left;
		width: 100%;
		margin: 7px 0;
	}

	.tabs-links li label.tab-link {
	    font-size: 13px;
	}

	.payments-thumbnails .thumbnail {
	    width: 100%;
	    padding: 6px 0;
	}

	.border-block {
		border-width: 2px;
	    padding: 7px 2% 0 2%;
	}

	.three-cols-table .cell-2 {
	    width: 21%;
	}

	.three-cols-table .cell-3 {
	    width: 59%;
	}

	/*-- /Section 1 Product Page --*/

	/*-- Section 2 Product Page --*/

	.catalog-thmbnails.more-goods-thumbnails .good-cart {
		width: 100%;
	    max-width: 320px;
	}

	/*-- /Section 2 Product Page --*/

	/*-- Section 2 Payment Page --*/

	.payment-thumbnail {
		display: block;
	}

	.payment-thumbnail .col {
	    display: block;
	    width: 100%;
	}

	.payment-thumbnail .col-2 {
	    padding: 10px 0;
	}

	/*-- /Section 2 Payment Page --*/

	/*-- Footer --*/

	.footer {
	    padding: 39px 0 33px 0;
	}

	.footer .col-1 {
	    width: 100%;
	    padding: 21px 0;
	}

	.footer .col-2 {
	    width: 100%;
	    padding: 0;
	}

	.footer .col-2 .inner-col.seo-list-block {
	    width: 100%;
	    padding: 14px 0;
	}

	.footer .col-2 .inner-col p {
	    width: 100%;
	}

	.payments-systems {
	    margin: 29px 0 0 0;
	}

	/*-- /Footer --*/

}


@media only screen and (max-width: 350px) {

	.h-block h2 {
	    width: 57%;
	}

	.h-block .right-col {
	    width: 43%;
	}

	/*-- Header --*/

	.catalog-item {
	    margin: 0 4px 0 0;
	}

	.catalog-icon-box {
	    height: 26px;
	}

	.catalog-item a.catalog-item-title h4 {
	    padding: 0 0 0 2px;
	}

	/*-- /Header --*/

	/*-- Section 1 Main Page --*/

	.catalog-thmbnails .good-cart {
	    width: 100%;
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 1 Product Page --*/

	.three-cols-table .cell-1 {
	    width: 29%;
	}

	.three-cols-table .cell-2 {
	    width: 27%;
	}

	.three-cols-table .cell-3 {
	    width: 45%;
	    padding-top: 2px;
	}

	.three-cols-table .cell-3 p {
	    font-size: 12px;
	    line-height: 19px;
	}

	/*-- /Section 1 Product Page --*/

	/*-- Section 1 Payment Page --*/

	.steps-thumbnails .thumbnail {
	    display: block;
	    padding: 0 0 15px 0;
	    text-align: center;
	    border-bottom: 1px solid #efefef;
	}

	.steps-thumbnails .thumbnail:last-child {
		border-bottom: none;
	}

	.num-circle-block {
	    display: block;
	    width: 100%;
	    text-align: center;
	}

	.steps-thumbnails .thumbnail p {
		display: block;
	    padding-top: 3px;
	    text-align: center;
	}

	/*-- /Section 1 Payment Page --*/

}

@media only screen and (min-width: 769px) {

	.wrapper {
		padding-top: 0 !important;
	}

	.main-nav-block {
		display: block !important;
	}

	.mCSB_scrollTools .mCSB_draggerContainer {
	    opacity: 0;
	}

}

@media only screen and (min-width: 601px) {

	.resp-popup {
		display: block !important;
	}

}